bin/
build/
config/
dist/
jwd/
libs/

.DS_Store
cleancdb.sh
cleangrid.sh
makebill.sh
makecdb.sh
makegrid.sh
Makefile*
makeosx.
makewincdb.sh
run.sh
style.sh

jqt-mac-64
jqt.xcodeproj
Info.plist
jqt_resource.rc

*.a
*.command
*.dll
*.exe
*.o
*.pro.user
*.so
*.so.*
*.stash
*.sublime-project
*.sublime-workspace
*.tgz
moc_*
object_script.*
qrc_*
