bin/
build/
config/
jwd/
libs/
android-assets/

cleancdb.sh
makebill.sh
makecdb.sh
makegrid.sh
Makefile*
makeosx.
makewincdb.sh
run.sh
style.sh

android-build/

jqt.xcodeproj
Info.plist
jqt_resource.rc

jconsole
profile.ijs
profilex.ijs

*.a
*.dll
*.exe
*.o
*.pro.user
*.so
*.so.*
*.sublime-project
*.sublime-workspace
*.tgz
moc_*
object_script.*
qrc_*
